*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input-box{
    display: grid;
  place-items: center;
  height: 100vh;
  

}
.input-box span{
    position: relative;
}
input[type="text"]{
    width: 18rem;
    height: 3rem;
    padding-left:4px ;
    outline-color:green;
    color: red;
   font-weight: bold;
   border-radius: 13px;
   border:2px solid black;
}
